.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.left p{
   
   text-align: left;  
    padding: 0;
    margin: 0;
    font-size:.7em;
    

}



