.App {
  
  background-color: aliceblue;
  
}

h3{
  margin: 0;
  padding: 0;
}


header {
  text-align: center;
  background-color: #e6be2f;
  height: 75px;
  display: flex;
  
  align-items: center;
  justify-content: space-around;
  
  color: white;
}

.search{

  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.presentation{
  
  background-color: #e9d27e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
